<p>the current screen size is {{this.breakpoint}}</p>
<p>the current screen size is {{this.currentScreenSize}}</p>
<mat-grid-list 
  [cols]="breakpoint"
  rowHeight="50em"
  gutterSize="50"
  (window:resize)="onResize(this.currentScreenSize)"
  >  
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <mat-grid-tile 
    class="movie-card--tile"
    *ngFor="let movie of movies; let i=index;"
    style="background-image: url({{movie.ImagePath}});background-repeat: no-repeat;background-size: 100% auto;"
    >
    <mat-grid-tile-header>
      <h1>{{ movie.Title }}</h1>
    </mat-grid-tile-header>
    <mat-card class="movie-card--card">
      <mat-card-header>
        {{ movie.Title }}
      </mat-card-header>
      <div>
        <p> 
          {{ movie.Description }}
        </p>
        <mat-card-actions>
          <button
            mat-button
            color="primary"
          >
            Genre
          </button>
          <button
            mat-button
            color="primary"
          >
            Director
          </button>
          <button
            mat-button
            color="primary"
          >
            Synopsis
          </button>
          <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
      </div>
      <mat-card-footer class="movie-card--footer">
        {{ movie.Director.Name }}
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>