
.movie-card{
  &--container{
  }
  &--tile{
  }
  &--card{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width:100%;
    height:100%;
    opacity: 0;
    background: rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    -ms-flex-item-align: end;
        align-self: flex-end;
    &:hover{
      opacity: 1;
    }
    p{
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
  }
  &--subtitle{
    max-width: 100%;
  }
  &--content, &--footer{
    margin:0 3em;
  }
  &--content{
    max-height:65%;
  }
}