<mat-grid-list cols="2" rowHeight="50em" gutterSize="50">
  <mat-grid-tile class="movie-card--tile" *ngFor="let movie of movies; let i=index;"
    style="background-image: url({{movie.ImagePath}});background-repeat: no-repeat;background-size: cover;">
    <mat-grid-tile-header>
      <h1>{{ movie.Title }}</h1>
    </mat-grid-tile-header>
    <mat-card class="movie-card--card">
      <mat-card-header>
        {{ movie.Title }}
      </mat-card-header>
      <mat-card-content class="movie-card--content">
        {{ movie.Description }}
      </mat-card-content>
      <mat-card-footer>
        {{ movie.Director.Name }}
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>