<mat-grid-list cols="2" rowHeight="50vh">
  <mat-grid-tile>
    <mat-card>
      <h1>Hello! {{user.userName}}</h1>
      <h2>{{user.email}}</h2>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Birthday: {{user.birthday}}</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card *ngFor="let movie of user.favorite_movies; let i=index;">
      <mat-card-header>{{movie['Title']}}</mat-card-header>
      <mat-card-content>
        <img [src]="movie['ImagePath']" />
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      (click)="openUpdateUserDialog()"
      style="margin-right: 10px"
      color="primary"
    >
      Update
    </button>
    <button
      mat-raised-button
      (click)="openDeleteUserDialog()"
      color="primary"
    >
      Delete
    </button>
  </mat-grid-tile>
</mat-grid-list>